@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/pledge";
@import "partials/issues";
@import "partials/footer";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

header {
    @include header;
  }

#header-margin {
  margin: 30px 15% 0 15%;
}

#main-nav {
  @include main-nav;
}

.dropdown {
  position: relative;
}

#drop-nav li {
  display: block;
}

#drop-nav {
  @include drop-nav;
}

.dropdown:hover #drop-nav {
  @include dropdown-hover;
}

#logo {
  @include logo;
}

#hero-text {
  @include hero-text;
}

#pledge {
  @include pledge;
}

#pledge-text {
  @include pledge-text;
}

#issues {
  @include issues;
}

#issues-text {
  @include issues-text;
}

#columns {
  @include columns;
}

.col {
  @include cols;
}

.circle {
  @include circle;
}

.fa {
  @include fa;
}

.circle:hover {
  @include colorhover;
}

.circle:hover .fa {
  color: white;
}

footer {
  @include footer;
}

#footer-text {
  @include footer-text;
}
